.header {
  flex: 0 0 auto;
  opacity: 1;
  transform: translateY(0);
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition:
    padding-top .3s ease,
    background-color .3s ease,
    opacity .3s ease,
    transform .3s ease;
}

.header--before-dom-ready {
  opacity: 0;
  transform: translateY(-10px);
}

.header--menu-opened {
  @media (max-width: 1199px) {
    background-color: transparentize(#000000, .2);
    bottom: 0;

    .header__menu {
      opacity: 1;
      visibility: visible;
      overflow-y: auto;
    }
  }
}

.header--fixed {
  .header__search-toggle,
  .header__call-popup-open {
    display: none;
  }

  .header__menu-toggle {
    top: 5px;
  }
}

.header__inner {
  padding: 10px 15px;
  transition:
    padding-top .3s ease;

  &:before {
    content: '';
    display: block;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .55), rgba(0, 0, 0, 0));
    opacity: 0;
    transition: 
      opacity .3s ease,
      right .3s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  @media (min-width: 768px) {
    padding: 30px 80px;
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.header__inner--fixed {
  height: 61px;

  &:before {
    opacity: 1;
  }

  @media (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.sidebar-opened {
  .header__inner--fixed {
    &:before {
      right: 320px;
    }
  }
}

.header__inner--search-opened {
  @media (min-width: 768px) {
    padding-top: 90px;
  }
}

.header__search {
  padding: 20px 40px;
  height: 60px;
  background-color: #fff;
  color: #000;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  z-index: 1;
  transition:
    top .3s ease,
    opacity .3s ease,
    visibility .3s ease;

  input {
    padding: 0;
    border: none;
    @include placeholder();
  }
}

.header__search--open {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.header__search-toggle {
  display: none;
  padding: 15px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  &:hover {
    svg {
      stroke: $c-blue !important;
    }
  }

  @media (min-width: 1200px) {
    display: block;
  }
}

.header__search-toggle--active {
  svg {
    stroke: $c-blue !important;
  }
}

.sidebar-opened {
  .header__search-toggle {
    svg {
      stroke: #d4d4d4 !important;
    }

    &:hover {
      svg {
        stroke: $c-blue !important;
      }
    }
  }
}

.header__logo {
  width: 100%;
  max-width: 256px;
}

.header__logo-img {
  width: 256px;
  height: 70px;
  background-image: url(../img/logo-name-sprite.png);
  background-repeat: no-repeat;
  background-position-y: -72px;
  background-size: 256px 142px;

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (   -o-min-device-pixel-ratio: 2/1),
  only screen and (    min-device-pixel-ratio: 2),
  only screen and (        min-resolution: 192dpi),
  only screen and (        min-resolution: 2dppx) { 
    background-image: url(../img/logo-name-sprite@2.png);
    background-size: 256px 142px;
    background-position-y: -72px;
  }
}

.sidebar-opened {
  @media (max-width: 589px) {
    .header__logo-img {
      background-position-y: 0;
      
      @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (   -o-min-device-pixel-ratio: 2/1),
      only screen and (    min-device-pixel-ratio: 2),
      only screen and (        min-resolution: 192dpi),
      only screen and (        min-resolution: 2dppx) {
        background-image: url(../img/logo-name-sprite@2.png);
        background-position-y: 0px;
        background-size: 256px 142px;
      }
    }
  }

  // @media
  // only screen and (-webkit-min-device-pixel-ratio: 2),
  // only screen and (   min--moz-device-pixel-ratio: 2),
  // only screen and (   -o-min-device-pixel-ratio: 2/1),
  // only screen and (    min-device-pixel-ratio: 2),
  // only screen and (        min-resolution: 192dpi),
  // only screen and (        min-resolution: 2dppx) {
  //   .header__logo-img {
  //     background-image: url(../img/logo-name-sprite@2.png);
  //     background-size: 256px 139px;
  //   }
  // }
}

.header__menu-toggle {
  padding: 15px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 0;

  span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #fff;
    opacity: 1;
    transition: 
      transform .3s ease,
      opacity .5s ease;

    &:not(:last-of-type) {
      margin-bottom: 6px;
    }
  }

  &:hover {
    span {
      background-color: $c-blue;
    }
  }

  @media (min-width: 768px) {
    top: 25px;
    right: 65px;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.header__menu-toggle--active {
  span {
    &:nth-child(1) {
      transform: 
        rotate(45deg) 
        translate(6px, 6px);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: 
        rotate(-45deg) 
        translate(7px, -6px);
    }
  }
}

.header__menu {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity .3s ease,
    visibility .3s ease;

  @media (max-width: 1199px) {
    padding-top: 30px;
    position: fixed;
    top: 61px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media (min-width: 1200px) {
    opacity: 1;
    visibility: visible;
  }
}

.header__call {
  display: none;
  padding-top: 8px;
  text-align: right;

  @media (min-width: 1200px) {
    display: block;
  }
}

.header__call-phone {
  margin-bottom: 5px;
  padding-left: 32px;
  font-size: 24px;
  font-weight: 800;
  position: relative;

  svg {
    stroke: #fff;
    fill: none;
    position: absolute;
    top: 3px;
    left: 0;
  }

  &:hover {
    color: $c-blue;
  }
}

.sidebar-opened {
  .header__call-phone {
    color: #000;

    svg {
      stroke: $c-blue;
    }
  }
}

.header__call-popup-open {
  font-size: 12px;
  border-bottom: 1px dotted #fff;
  cursor: pointer;

  &:hover {
    border-bottom: none !important;
  }
}

.sidebar-opened {
  .header__call-popup-open {
    color: $c-blue;
    border-bottom: 1px dotted #000;
  }
}
