.menu {
  &:hover {
    color: $c-light-gray;
  }

  @media (min-width: 768px) {
    padding-top: 50px;
    padding-left: 65px;
  }

  @media (min-width: 1200px) {
    padding-top: 0;
    padding-left: 0;
    border-bottom: 1px solid #fff;
  }
}

.menu__item {
  position: relative;

  @media (min-width: 1200px) {
    display: inline-block;

    &:first-of-type {
      .menu__link {
        padding-left: 0;
      }
    }
  
    &:last-of-type {
      .menu__link {
        padding-right: 0;
      }
    }
  }
}

.menu__item--active {
  color: #fff;
  
  @media (min-width: 1200px) {
    &:after {
      content: '';
      display: block;
      width: calc(100% - 38px);
      height: 2px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 19px;
    }
  
    &:first-of-type {
      &:after {
        width: calc(100% - 19px);
        left: 0;
      }
    }
  
    &:last-of-type {
      &:after {
        width: calc(100% - 19px);
        left: auto;
        right: 0;
      }
    }
  }
}

.menu__link {
  padding: 15px 19px;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;

  &:hover {
    color: #fff;
  }
}
