.agreement {
  margin: 15px 0 32px;
  padding-left: 30px;
  font-size: 12px;
  text-align: left;
  position: relative;
}

.agreement__checkbox {
  width: 5px;
  opacity: 0;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: -1;

  &:checked + .agreement__checkbox-view {
    &:before,
    &:after {
      opacity: 1;
    }
  }

  &:focus + .agreement__checkbox-view {
    border-color: $c-blue;
  }
}

.agreement__checkbox-view {
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all .3s ease;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 1px;
    background-color: #fff;
    position: absolute;
    opacity: 0;
  }

  &:before {
    height: 6px;
    transform: rotate(-40deg);
    top: 6px;
    left: 5px;
  }

  &:after {
    height: 9px;
    background-color: #fff;
    transform: rotate(35deg);
    top: 3px;
    left: 9px;
  }
}
