.btn {
  display: inline-block;
  padding: 10px 45px 10px 20px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #fff;
  position: relative;

  &:after {
    content: '';
    border: 4px solid transparent;
    border-left: 4px solid #fff;
    position: absolute;
    top: 16px;
    right: 18px;
  }

  &:not(:disabled):hover {
    background-color: #fff;
    color: $c-blue;

    &:after {
      border-left-color: #b3b3b3;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  @media (min-width: 768px) {
    padding: 15px 65px 15px 40px;

    &:after {
      top: 21px;
      right: 30px;
    }
  }
}
