.clients {
  margin-left: -15px;
  margin-right: -15px;
  
  @media (min-width: 520px) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.clients__item {
  margin-bottom: 60px;
  padding: 0 15px;
  
  @media (min-width: 520px) {
    margin-bottom: 30px;
    width: 50%;
  }

  @media (min-width: 768px) {
    width: 33.3333333%;
  }

  @media (min-width: 992px) {
    width: 25%;
  }

  @media (min-width: 1200px) {
    width: 16.666667%;
  }
}

.clients__logo {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70px;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 70px;
  }
  
  @media (min-width: 992px) {
    margin-bottom: 30px;
  }
}

.clients__caption {
  font-size: 12px;
  text-align: center;
  color: #dadada;

  @media (min-width: 520px) {
    text-align: left;
  }
}
