.clients-slider {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, .3);

  .slick-track {
    display: flex;
    align-items: flex-end;
  }
}

.clients-slider__inner {
  margin: 0 auto;
  padding: 0 15px;
  opacity: 1;
  transition: opacity .3s ease;

  @media (min-width: 768px) {
    padding: 0 30px;
  }
}

.clients-slider__inner--before-init {
  height: 60px;
  overflow: hidden;
  opacity: 0;
}

.clients-slider__slide {
  padding: 0 15px;

  img {
    margin: 0 auto;
    max-width: 170px;
  }
}
