.columns-text {
  margin-left: -15px;
  margin-right: -15px;
  font-size: 14px;
  color: $c-light-gray;

  @media (min-width: 992px) {
    display: flex;
    justify-content: space-between;
  }
}

.columns-text__col {
  padding: 0 15px;
  margin-bottom: 30px;

  @media (min-width: 992px) {
    max-width: 530px;
  }
}
