.important-text {
  padding: 15px 20px;
  border: 1px solid $c-light-gray;
  font-size: 18px;
  font-style: italic;

  &:not(:first-child) {
    margin-top: 30px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: 768px) {
    padding: 30px 50px;
    font-size: 20px;
  }
}
