.map {
  position: relative;
}

.map__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map__contacts {
  padding-top: 160px;
  padding-bottom: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map__contacts--md-screen-minus-footer {
  min-height: calc(100vh - 110px);
}

.map__list {
  max-width: 580px;
}

.map__list-item {
  padding-left: 35px;
  line-height: 1.55;
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.map__address {
  font-size: 16px;
}

.map__phone {
  font-size: 22px;
  font-weight: 700;

  svg {
    stroke: #fff;
    fill: none;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.map__mail {
  font-size: 16px;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    top: 4px;
  }
}

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}
