.notification {
  padding: 10px;
  margin-left: 15px;
  max-width: 500px;
  background-color: #fff;
  border: 2px solid $c-blue;
  color: $c-dark-gray;
  position: fixed;
  top: 15px;
  right: -100%;
  z-index: 1005;
  transition: right 500ms ease;
  cursor: pointer;
}

.notification--show {
  right: 15px;
}
