.ordered-list {
  counter-reset: item-number;

  &:not(:first-child) {
    margin-top: 20px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.ordered-list__item {
  padding-top: 1px;
  padding-left: 45px;
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  &:before {
    counter-increment: item-number;
    content: counter(item-number);
    box-sizing: border-box;
    display: block;
    padding-top: 2px;
    width: 30px;
    height: 30px;
    border: 1px solid $c-light-gray;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: 768px) {
    padding-top: 10px;
    padding-left: 75px;

    &:before {
      padding-top: 8px;
      width: 50px;
      height: 50px;
      font-size: 20px;
      top: 0;
      left: 0;
    }
  }
}
