.page-bg-logo {
  background-image: url(../img/logo-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  @media (min-width: 768px) {
    background-size: 400px;
  }
}
