.page-content {
  padding: 50px 0;
  line-height: 1.6;

  @media (min-width: 768px) {
    padding: 90px 0;
  }
}

.page-content--opened-sidebar {
  @media (min-width: 768px) and (max-width: 1824px) {
    padding-right: 320px;
    padding-left: calc((100% - 1170px) / 2);
  }
}
