.page-bg {
  @include responsive-bg();
  transition: 
    filter .1s linear,
    background-image .5s ease;
  // transform: translateZ(0);
  // -webkit-backface-visibility: hidden;
  // -webkit-perspective: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
