.popup {
  padding-top: 80px;
  background-color: transparentize(#000000, .2);
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transition:
    opacity .3s ease,
    visibility .3s ease;

  @media (min-width: 768px) {
    padding-top: 200px;
  }
}

.popup--open {
  opacity: 1;
  visibility: visible;
  overflow-y: auto;

  .popup__inner {
    transform: translateY(0);
  }
}

.popup__inner {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 350px;
  position: relative;
  transform: translateY(-10px);
  transition: transform .5s ease;
}

.popup__title {
  margin-bottom: 50px;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}

.popup__close {
  padding: 15px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  position: absolute;
  top: -50px;
  right: -50px;

  &:hover {
    color: $c-blue;
  }
}
