.section {
  padding: 70px 0;

  @media (min-width: 768px) {
    padding: 130px 0;
  }
}

.section--pb-0 {
  padding-bottom: 0;
}

.section--bg-logo {
  background-image: url(../img/logo-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px;

  @media (min-width: 768px) {
    background-size: 400px;
  }
}
