.services-slider {
  padding-top: 150px;
  padding-bottom: 80px;
  min-height: 100vh;
  position: relative;

  @media (min-width: 768px) {
    padding-top: 300px;
  }
}

.services-slider__controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  z-index: 5;

  .slick-dots {
    text-align: center;

    .slick-active {
      button {
        background-color: #fff;
      }
    }

    li {
      display: inline-block;
      margin: 0 10px;
      font-size: 0;
    }

    button {
      padding: 0;
      width: 50px;
      height: 2px;
      border: none;
      background-color: $c-dark-gray;
      font-size: 0;
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 50px;
        height: 4px;
        background-color: $c-light-blue;
        opacity: 0;
        transition: opacity .3s ease;
        position: absolute;
        left: 0;
        top: -1px;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}

.services-slider__infos {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity .3s ease,
    transform .3s ease;
}

.services-slider__infos--before-init {
  overflow: hidden;
  height: 900px;
  opacity: 0;
  transform: translateY(-10px);
}

.services-slider__list {
  margin: 30px auto;
  
  @media (min-width: 768px) {
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
  }
}

.services-slider__list-item {
  margin-bottom: 16px;
  padding-left: 30px;
  padding-right: 10px;
  font-size: 16px;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 15px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 0;
  }

  @media (min-width: 768px) {
    margin-bottom: 16px;
    padding-left: 50px;
    width: 50%;
    font-size: 18px;

    &:before {
      width: 25px;
    }
  }
}
