.sidebar {
  padding-top: 110px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 320px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -320px;
  bottom: 0;
  z-index: 8;
  transition: right .3s ease-in-out;
}

.sidebar--open {
  right: 0;
}

.sidebar__list {
  position: absolute;
  top: 110px;
  left: 0;
  right: 15px;
  bottom: 15px;
  overflow-y: auto;
}

.sidebar__list-item {
  padding-left: 65px;
  font-size: 12px;
  color: #4d4d4d;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 16px;
    height: 1px;
    background-color: $c-light-gray;
    position: absolute;
    top: 23px;
    right: 254px;
    transition:
      background-color .3s ease,
      width .3s ease;
  }

  &:after {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    background-color: $c-blue;
    opacity: 0;
    position: absolute;
    top: 22px;
    right: 253px;
    transition: opacity .3s ease;
  }

  &:hover {
    font-weight: 700;

    &:before {
      width: 51px;
      background-color: $c-blue;
    }

    &:after {
      opacity: 1;
    }
  }
}

.sidebar__list-item--active {
  font-weight: 700;

  &:before {
    width: 51px;
    background-color: $c-blue;
  }

  &:after {
    opacity: 1;
  }
}

.sidebar__list-link {
  display: inline-block;
  padding: 16px 0;
}
