.sidebar-toggle {
  padding: 15px;
  width: 72px;
  height: 72px;
  background-color: transparent;
  border: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9;

  svg {
    width: 100%;
    height: 100%;
    fill: #fff;
  }

  &:hover {
    svg {
      fill: $c-blue;
    }
  }
}

.sidebar-toggle--active {
  svg {
    fill: $c-blue;
  }
}
