.slider {
  margin-top: 65px;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 210px;
  position: relative;

  .slick-arrow {
    padding: 0;
    display: inline-block;
    width: 40px;
    height: 80px;
    background-color: transparent;
    border: none;
    transform: translateX(0);
    transition: transform .3s ease;

    svg {
      width: 25px;
      height: 80px;
      fill: $c-light-gray;
    }

    &:hover {
      svg {
        fill: #fff;
      }
    }
  }

  @media (min-width: 768px) {
    margin-top: 125px;
    min-height: 335px;

    .slick-arrow {
      width: 60px;

      svg {
        width: 80px;
      }
    }
  }
}

.slider--hidden-accessible {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
}

.slider--mt-70 {
  margin-top: 70px;
}

.slider__slides {
  transform: translateY(0);
  opacity: 1;
  transition: 
    transform .3s ease,
    opacity .3s ease;
  position: relative;
  z-index: 2;
}

.slider__slides--before-init {
  height: 333px;
  opacity: 0;
  transform: translateY(-10px);
  overflow: hidden;
}

.slider__item {
  padding: 0 15px;
  position: relative;

  &:hover {
    &:not(.slider__item--visible-icon) {
      .slider__item-content-text-icon,
      .slider__item-content-icon {
        opacity: 0;
      }
    }
  
    .slider__item-content-link {
      opacity: 1;
    }

    .slider__item-lightbox-trigger {
      opacity: 1;
    }
  }
}

.slider__item-text {
  padding-bottom: 30px;
  display: none;
}

.slider__arrows {
  padding: 0 15px;
  text-align: right;

  @media (min-width: 768px) {
    padding: 30px 15px 0;
  }

  @media (min-width: 1200px) {
    margin-right: -45px;
  }
}

.slider__prev {
  svg {
    transform: rotate(180deg);
  }

  &:hover {
    transform: translateX(-8px);
  }
}

.slider__next {
  &:hover {
    transform: translateX(8px);
  }
}

.slider__item-content {
  min-height: 140px;
  position: relative;

  @media (min-width: 768px) {
    min-height: 220px;
  }
}

.slider__item-content-cover {
  margin-right: 15px;
  min-height: 140px;
  float: left;
  position: relative;

  @media (min-width: 768px) {
    margin-right: 5px;
    min-height: 200px;
  }
}

.slider__item-content-img {
  width: 100%;
  max-width: 120px;
  border-radius: 50%;

  @media (min-width: 768px) {
    max-width: 200px;
  }
}

.slider__item-content-icon {
  width: 100%;
  max-width: 85px;
  position: absolute;
  left: 85px;
  bottom: 0;
  opacity: 1;
  transition: opacity .3s ease;

  @media (min-width: 768px) {
    max-width: 132px;
    left: 175px;
    bottom: -20px;
  }
}

.slider__item-content-text-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 85px;
  bottom: 0;
  opacity: 1;
  transition: opacity .3s ease;

  @media (min-width: 768px) {
    width: 132px;
    height: 132px;
    font-size: 26px;
    left: 175px;
    bottom: -20px;
  }
}

.slider__item-content-link {
  display: block;
  padding-top: 34px;
  width: 85px;
  height: 85px;
  background-color: transparentize(#fff, .5);
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity .3s ease;
  position: absolute;
  left: 85px;
  bottom: 0;

  &:hover {
    box-shadow: inset 0 0 0 2px #fff;
  }

  @media (min-width: 768px) {
    padding-top: 54px;
    width: 132px;
    height: 132px;
    font-size: 18px;
    left: 175px;
    bottom: -20px;
  }
}

.slider__item-content-title {
  line-height: 1.2;
  word-wrap: break-word;
}

.slider__item-lightbox-trigger {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 120px;
  background-color: transparentize(#000, .2);
  border: 8px solid #000;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity .5s ease;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -1px;
  z-index: 1;

  span {
    display: inline-block;
    max-width: 140px;
  }

  @media (min-width: 768px) {
    width: 202px;
    height: 201px;
  }
}
