.title-main {
  margin-bottom: 50px;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 25px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 4px;
    bottom: -20px;
  }

  @media (min-width: 768px) {
    margin-bottom: 70px;
    font-size: 40px;
  }
}

.title-main--groups {
  .title-main__item {
    margin-right: 30px;
    cursor: pointer;
    position: relative;

    &:not(.title-main__item--active) {
      color: $c-light-gray;

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        border-bottom: 1px dotted $c-blue;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 12px;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}

.title-main__item {
  display: inline-block;
}
