.unordered-list {

}

.unordered-list__item {
  margin-top: 12px;
  padding-left: 33px;
  font-size: 14px;
  color: $c-light-gray;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 18px;
    height: 1px;
    background-color: $c-blue;
    position: absolute;
    top: 10px;
    left: 0;
  }

  @media (min-width: 768px) {
    margin-top: 20px;
    padding-left: 45px;

    &:before {
      width: 30px;
    }
  }
}
