{% extends "layout/base.html" %}

{% set PAGE_NAME = "about" %}

{% block title%}О компании |{% endblock %}
{% block og_title%}О компании |{% endblock %}

{% block extra_styles%}
  <link rel="stylesheet" href="css/libs/slick.css">
  <link rel="stylesheet" href="css/libs/jquery.fancybox.min.css">
{% endblock %}

{% block content %}
  <section class="hero">
    <div class="hero__content container">
      <div class="title-main">
        <h1>о компании</h1>
      </div>
      <div class="title">
        <h2>Компания Научно-технический<br>центр «ЭКВИТ»</h2>
      </div>
    </div>
  </section>

  <main class="page-content">
    <div class="container">
      <p>Компания ЭКВИТ оказывает комплекс услуг по подготовке организаций к получению лицензий ФСТЭК и ФСБ России на деятельность по защите информации. Компания ЭКВИТ оказывает комплекс услуг по подготовке организаций к получению лицензий ФСТЭК и ФСБ России на деятельность по защите информации.</p>

      <div class="important-text">Оказание услуг проводится в соответствии с Федеральным законом № 99-ФЗ от 04.05.2011 «О лицензировании отдельных видов деятельности».</div>

      <div class="columns-text">
        <div class="columns-text__col">Компания ЭКВИТ оказывает комплекс услуг по подготовке организаций к получению лицензий ФСТЭК и ФСБ России на деятельность
        по защите информации. Компания ЭКВИТ оказывает комплекс услуг по подготовке организаций к получению лицензий ФСТЭК и ФСБ России на деятельность
        по защите информации.</div>
        <div class="columns-text__col">Компания ЭКВИТ оказывает комплекс услуг по подготовке организаций к получению лицензий ФСТЭК и ФСБ России на деятельность
        по защите информации. Компания ЭКВИТ оказывает комплекс услуг по подготовке организаций к получению лицензий ФСТЭК и ФСБ России на деятельность
        по защите информации.</div>
      </div>

      <section class="mt-100 animate pos-rel">
        <div class="title-main title-main--groups">
          <h2 class="title-main__item title-main__item--active js-title-tab-toggle">лицензии</h2>
          <h2 class="title-main__item js-title-tab-toggle">благодарственные письма</h2>
        </div>

        <div class="slider slider--mt-70 js-slider-tab">
          <div class="slider__slides slider__slides--before-init" id="license-slider">
            {% for item in competence_slider %}
              <div class="slider__item">
                <div class="slider__item-content">
                  <div class="slider__item-content-cover">
                    {# в href – путь к большому изображению #}
                    <a data-fancybox="gallery-1" data-caption="{{ item.title }}" href="{{ item.img }}" class="slider__item-lightbox-trigger">
                      <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto eaque voluptatibus?</span>
                    </a>
                    {# thumbnail 200x200 #}
                    <img class="slider__item-content-img" src="{{ item.img }}" alt="{{ item.title }}">
                  </div>
                  <div class="slider__item-content-title">{{ item.title }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="slider__arrows" id="license-arrows"></div>
        </div>

        <div class="slider slider--mt-70 slider--hidden-accessible js-slider-tab">
          <div class="slider__slides slider__slides--before-init" id="mails-slider">
            {% for item in mails_slider %}
              <div class="slider__item">
                <div class="slider__item-content">
                  <div class="slider__item-content-cover">
                    {# в href – путь к большому изображению #}
                    <a data-fancybox="gallery-2" data-caption="{{ item.title }}" href="{{ item.img }}" class="slider__item-lightbox-trigger">
                      <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto eaque voluptatibus?</span>
                    </a>
                    {# thumbnail 200x200 #}
                    <img class="slider__item-content-img" src="{{ item.img }}" alt="{{ item.title }}">
                  </div>
                  <div class="slider__item-content-title">{{ item.title }}</div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="slider__arrows" id="mails-arrows"></div>
        </div>
      </section>

      <section class="section section--pb-0 animate">
        <div class="title-main">
          <h1>обратная связь</h1>
        </div>

        <form action="" class="form js-callback-form">
          <div class="form__row">
            <div class="form__col">
              <div class="form__field-wrap">
                <input class="js-required" name="name" type="text" placeholder="Представьтесь пожалуйста">
              </div>
            </div>
            <div class="form__col">
              <div class="form__field-wrap">
                <input class="js-required-numeric" name="phone" type="tel" placeholder="Ваш контактный телефон">
              </div>
            </div>
            <div class="form__col">
              <div class="form__field-wrap">
                <input class="js-required-email" name="email" type="email" placeholder="Ваша электронная почта">
              </div>
            </div>
            <div class="form__col">
              <div class="form__field-wrap">
                <div class="form__select-wrap">
                <select name="theme">
                  <option value="">Выберите тему</option>
                  <option value="1">Тема 1</option>
                  <option value="2">Тема 2</option>
                </select>
              </div>
              </div>
            </div>
          </div>
        
          <textarea name="message" rows="1" placeholder="Сообщение"></textarea>
        
          <div class="form__bottom">
            <div class="agreement">
              <label>
                <input type="checkbox" class="agreement__checkbox" checked>
                <span class="agreement__checkbox-view"></span>
              </label>
              <div>Я даю согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ</div>
            </div>
            <button class="btn btn--red">Задать вопрос</button>
          </div>
        </form>
      </section>
    </div>
  </main>
{% endblock %}
  
{% block content_outer_bottom %}
  <div class="page-bg-logo"></div>
  <div class="page-bg" id="page-bg" style="background-image: url(img/fon3.jpg)"></div>
{% endblock %}

{% block extra_scripts %}
  <script src="js/libs/slick.min.js"></script>
  <script src="js/libs/jquery.fancybox.min.js"></script>
  <script>
    $(function () {
      $('[data-fancybox]').fancybox({
        buttons: ['close']
      });

      $('#license-slider')
        .on('init', function () {
          $(this).removeClass('slider__slides--before-init');
        })
        .slick({
          mobileFirst:true,
          arrows: true,
          autoplay: true,
          autoplaySpeed: 3000,
          slidesToShow: 1,
          appendArrows: '#license-arrows',
          prevArrow: '<button type="button" class="slider__prev"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="40px" height="80px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 1.50938 3.01886" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="-0,3.01885 -0,2.7806 1.27114,1.50947 -0,0.23827 -0,0 1.50939,1.50947 "/></svg></button>',
          nextArrow: '<button type="button" class="slider__next"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="40px" height="80px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 1.50938 3.01886" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="-0,3.01885 -0,2.7806 1.27114,1.50947 -0,0.23827 -0,0 1.50939,1.50947 "/></svg></button>',
          responsive: [
            {
              breakpoint: 550,
              settings: {
                slidesToShow: 2
              }
            },  
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 3
              }
            },          
          ]
        });

      $('#mails-slider')
        .on('init', function () {
          $(this).removeClass('slider__slides--before-init');
        })
        .slick({
          mobileFirst:true,
          arrows: true,
          autoplay: true,
          autoplaySpeed: 3000,
          slidesToShow: 1,
          appendArrows: '#mails-arrows',
          prevArrow: '<button type="button" class="slider__prev"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="40px" height="80px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 1.50938 3.01886" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="-0,3.01885 -0,2.7806 1.27114,1.50947 -0,0.23827 -0,0 1.50939,1.50947 "/></svg></button>',
          nextArrow: '<button type="button" class="slider__next"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="40px" height="80px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 1.50938 3.01886" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="-0,3.01885 -0,2.7806 1.27114,1.50947 -0,0.23827 -0,0 1.50939,1.50947 "/></svg></button>',
          responsive: [
            {
              breakpoint: 550,
              settings: {
                slidesToShow: 2
              }
            },  
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 3
              }
            },          
          ]
        });
    })
  </script>
{% endblock %}
