{% extends "layout/base.html" %}

{% set PAGE_NAME = "clients" %}

{% block title%}Наши клиенты |{% endblock %}
{% block og_title%}Наши клиенты |{% endblock %}

{% block extra_styles%}
{% endblock %}

{% block content %}
  <section class="hero">
    <div class="hero__content container">
      <div class="title-main">
        <h1>Наши клиенты</h1>
      </div>
      <div class="title">
        <h2>Мы работаем</h2>
      </div>
    </div>
  </section>

  <main class="page-content">
    <div class="container">
      <ul class="clients">
        {% for item in clients %}
          <li class="clients__item">
            <div class="clients__logo">
              <img src="{{ item.img }}" alt="{{ item.caption }}">
            </div>
            <div class="clients__caption">{{ item.caption }}</div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </main>
{% endblock %}

{% block content_outer_bottom %}
  <div class="page-bg-logo"></div>
  <div class="page-bg" id="page-bg" style="background-image: url(img/fon4.jpg)"></div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
