{% extends "layout/base.html" %}

{% set PAGE_NAME = "contacts" %}

{% block title%}Контакты |{% endblock %}
{% block og_title%}Контакты |{% endblock %}

{% block extra_styles%}
{% endblock %}

{% block content %}
  <section class="map">
    <div class="map__item" id="map"></div>
    <div class="container map__contacts map__contacts--md-screen-minus-footer">
      <div class="title-main">
        <h1>Наши контакты</h1>
      </div>
      <ul class="map__list">
        <li class="map__list-item map__address">
          <img src="img/map-place-contour.svg" alt="">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi voluptatem aut maxime, culpa id at reiciendis beatae.
        </li>
        <li class="map__list-item map__phone">
          <img src="img/phone.svg" alt="">
          <a href="tel:88005558412">8 800 555-84-12</a> / <a href="tel:84955404532">8 (495) 540-45-32</a>
        </li>
        <li class="map__list-item map__mail">
          <img src="img/envelope.svg" alt="">
          <a href="mailto:info@ntc-ekvit.ru">info@ntc-ekvit.ru</a>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}

{% block extra_scripts %}
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 55.633958, lng: 37.439545 },
        zoom: 14,
        mapTypeControl: false,
        fullscreenControl: false,
        styles: [
          {
            "featureType": "all",
            "elementType": "all",
            "stylers": [
              {
                "invert_lightness": true
              },
              {
                "saturation": 10
              },
              {
                "lightness": 30
              },
              {
                "gamma": 0.5
              },
              {
                "hue": "#435158"
              }
            ]
          }
        ]
      });

      var marker = new google.maps.Marker({
        position: { lat: 55.633958, lng: 37.439545 },
        map: map,
        icon: 'img/map-place.svg'
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHng4CWYL5Ef0sI-BD-1clz1U-VUipFrs&callback=initMap" async defer></script>
{% endblock %}
