{% extends "layout/base.html" %}

{% block title%}{% endblock %}
{% block og_title%}{% endblock %}

{% block extra_styles%}
  <link rel="stylesheet" href="css/libs/slick.css">
{% endblock %}
  
{% block content %}
  <section class="services-slider">
    <div class="services-slider__infos services-slider__infos--before-init" id="services-slider-infos">
      {% for item in services_slider %}
        <article class="services-slider__infos-slide" data-slide-img="{{ item.img }}">
          <div class="container">
            <div class="title">
              <h1>{{ item.title | safe }}</h1>
            </div>

            <ul class="services-slider__list">
              {% for service in item.services %}
                <li class="services-slider__list-item">{{ service }}</li>
              {% endfor %}
            </ul>
            <div style="margin-bottom: 30px">
              <a href="{{ item.url }}" class="btn">Перейти к услуге</a>
            </div>
            <a class="link" href="/services.html">Смотреть все услуги</a>
          </div>
        </article>
      {% endfor %}
    </div>

    <div class="services-slider__controls" id="services-slider-controls"></div>
  </section>
  
  <section class="section section--pb-0">
    <div class="container animate">
      <div class="title-main">
        <h1>компетенции</h1>
      </div>
      
      <div class="editor-content">
        <p>Мы обладаем колоссальным опытом работы в области IT-технологий и инофрмационной безопасности.</p>
        <p>Наши методы работы позволяют выполнять всё больше проектов, привлекать внимание и поддерживать интерес клиентов к нашим услугам.</p>
      </div>

      <div class="slider">
        <div class="slider__slides slider__slides--before-init" id="competence-slider">
          {% for item in competence_slider %}
            <div class="slider__item js-show-slider-text">
              <div class="slider__item-text">
                <p>{{ item.text }}</p>
              </div>
              <div class="slider__item-content">
                <div class="slider__item-content-cover">
                  <img class="slider__item-content-img" src="{{ item.img }}" alt="{{ item.title }}">
                  {% if item.text_icon %}
                    <div class="slider__item-content-text-icon"><span>{{ item.text_icon }}</span></div>
                  {% else %}
                    <img class="slider__item-content-icon" src="{{ item.icon }}" alt="">
                  {% endif %}
                  <a href="#" class="slider__item-content-link">Смотреть</a>
                </div>
                <div class="slider__item-content-title">{{ item.title }}</div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="slider__arrows" id="competence-arrows"></div>
      </div>
    </div>
  </section>

  <section class="section section--bg-logo">
    <div class="container animate">
      <div class="title-main">
        <h1>обратная связь</h1>
      </div>

      <form action="" class="form js-callback-form">
        <div class="form__row">
          <div class="form__col">
            <div class="form__field-wrap">
              <input class="js-required" name="name" type="text" placeholder="Представьтесь пожалуйста">
            </div>
          </div>
          <div class="form__col">
            <div class="form__field-wrap">
              <input class="js-required-numeric" name="phone" type="tel" placeholder="Ваш контактный телефон">
            </div>
          </div>
          <div class="form__col">
            <div class="form__field-wrap">
              <input class="js-required-email" name="email" type="email" placeholder="Ваша электронная почта">
            </div>
          </div>
          <div class="form__col">
            <div class="form__field-wrap">
              <div class="form__select-wrap">
                <select name="theme">
                  <option value="">Выберите тему</option>
                  <option value="1">Тема 1</option>
                  <option value="2">Тема 2</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      
        <textarea name="message" rows="1" placeholder="Сообщение"></textarea>
      
        <div class="form__bottom">
          <div class="agreement">
            <label>
              <input type="checkbox" class="agreement__checkbox" checked>
              <span class="agreement__checkbox-view"></span>
            </label>
            <div>Я даю согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ</div>
          </div>
          <button class="btn btn--red">Задать вопрос</button>
        </div>
      </form>
    </div>
  </section>

  <section class="clients-slider">
    <div class="clients-slider__inner clients-slider__inner--before-init" id="clients-slider">
      {% for item in clients_slider %}
        <div class="clients-slider__slide">
          <img src="{{ item.img }}" alt="{{ item.title }}">
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="map">
    <div class="map__item" id="map"></div>
    <div class="container map__contacts">
      <div class="title-main">
        <h1>Контакты</h1>
      </div>
      <ul class="map__list">
        <li class="map__list-item map__address">
          <img src="img/map-place-contour.svg" alt="">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi voluptatem aut maxime, culpa id at reiciendis beatae.
        </li>
        <li class="map__list-item map__phone">
          <img src="img/phone.svg" alt="">
          <a href="tel:88005558412">8 800 555-84-12</a> / <a href="tel:84955404532">8 (495) 540-45-32</a>
        </li>
        <li class="map__list-item map__mail">
          <img src="img/envelope.svg" alt="">
          <a href="mailto:info@ntc-ekvit.ru">info@ntc-ekvit.ru</a>
        </li>
      </ul>
    </div>
  </section>

{% endblock %}
  
{% block content_outer_bottom %}
  {# фон, при открытии страницы – изображение первого слайда #}
  <div 
    class="page-bg" 
    id="index-bg" 
    style="filter: blur(0); background-image: url({{ services_slider[0].img }})">
  </div>
  <div 
    class="page-bg" 
    id="index-bg-hack" 
    style="z-index: 1; background-image: url({{ services_slider[0].img }})">
  </div>
{% endblock %}

{% block extra_scripts %}
  <script src="js/libs/slick.min.js"></script>
  <script>
    var bgImagesPreload = [
        {% for item in services_slider %}
          '{{ item.img }}',
        {% endfor %}
      ],
      loadedImgs = [];

    for (var i = 0, len = bgImagesPreload.length; i < len; i++) {
      var img = new Image();
      img.src = bgImagesPreload[i];
      loadedImgs.push(img);
    }

    $(function () {
      $('#services-slider-infos')
        .on('init', function () {
          $(this).removeClass('services-slider__infos--before-init');
        })
        .slick({
          speed: 1400,
          autoplaySpeed: 5000,
          autoplay: true,
          pauseOnHover: false,
          arrows: false,
          dots: true,
          appendDots: '#services-slider-controls',
        })
        .on('afterChange', function(event, slick, currentSlide, nextSlide){
          var currSlideImage = $(slick.$slides.get(currentSlide)).data('slide-img');
          $('#index-bg').css('background-image', 'url(' + currSlideImage + ')');
          $('#index-bg-hack').css('background-image', 'url(' + currSlideImage + ')');
        });

      $('#competence-slider')
        .on('init', function () {
          $(this).removeClass('slider__slides--before-init')
        })
        .slick({
          mobileFirst:true,
          arrows: true,
          autoplay: true,
          autoplaySpeed: 3000,
          slidesToShow: 1,
          appendArrows: '#competence-arrows',
          prevArrow: '<button type="button" class="slider__prev"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="40px" height="80px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 1.50938 3.01886" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="-0,3.01885 -0,2.7806 1.27114,1.50947 -0,0.23827 -0,0 1.50939,1.50947 "/></svg></button>',
          nextArrow: '<button type="button" class="slider__next"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="40px" height="80px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 1.50938 3.01886" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="-0,3.01885 -0,2.7806 1.27114,1.50947 -0,0.23827 -0,0 1.50939,1.50947 "/></svg></button>',
          responsive: [
            {
              breakpoint: 550,
              settings: {
                slidesToShow: 2
              }
            },          
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 3
              }
            },          
          ]
        });

      $('#clients-slider')
        .on('init', function () {
          $(this).removeClass('clients-slider__inner--before-init')
        })
        .slick({
          mobileFirst:true,
          autoplay: true,
          autoplaySpeed: 0,
          speed: 3200,
          cssEase: 'linear',
          arrows: false,
          slidesToShow: 2,
          responsive: [
            {
              breakpoint: 450,
              settings: {
                slidesToShow: 4
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 5,
              }
            },
            {
              breakpoint: 800,
              settings: {
                slidesToShow: 7,
              }
            }            
          ]
        });      
    })
  </script>
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 55.633958, lng: 37.439545 },
        zoom: 14,
        styles: [
          {
            "featureType": "all",
            "elementType": "all",
            "stylers": [
              {
                "invert_lightness": true
              },
              {
                "saturation": 10
              },
              {
                "lightness": 30
              },
              {
                "gamma": 0.5
              },
              {
                "hue": "#435158"
              }
            ]
          }
        ]
      });

      var marker = new google.maps.Marker({
        position: { lat: 55.633958, lng: 37.439545 },
        map: map,
        icon: 'img/map-place.svg'
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHng4CWYL5Ef0sI-BD-1clz1U-VUipFrs&callback=initMap" async defer></script>
{% endblock %}
