{% extends "layout/base.html" %}

{% set PAGE_NAME = "services" %}

{% block title%}Услуги |{% endblock %}
{% block og_title%}Услуги |{% endblock %}

{% block head_scripts %}
  <script>window.pageHasSidebar = true</script>
{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block content %}
  <section class="hero">
    <div class="hero__content container">
      <div class="title-main">
        <h1>наши услуги</h1>
      </div>
      <div class="title">
        <h2>Лицензирование<br>деятельности по защите информации</h2>
      </div>
    </div>
  </section>

  <main class="page-content">
    <div class="container">
      <p>Компания ЭКВИТ оказывает комплекс услуг по подготовке организаций к получению лицензий ФСТЭК и ФСБ России на деятельность по защите информации.</p>

      <div class="important-text">Оказание услуг проводится в соответствии с Федеральным законом № 99-ФЗ от 04.05.2011 «О лицензировании отдельных видов деятельности».</div>

      <div class="title title--small">
        <h2>Услуги по получению лицензии включают в себя</h2>
      </div>

      <ol class="ordered-list">
        {% for item in service_list %}
          <li class="ordered-list__item">
            {{ item.text }}
            <ul class="unordered-list">
              {% for subitem in item.sublist %}
                <li class="unordered-list__item">{{ subitem }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ol>

      <p>Мы гарантируем получение лицензии. Окончательный расчет за оказанные услуги происходит после получения и передачи Вам лицензии.</p>
    </div>
  </main>
{% endblock %}

{% block content_outer_bottom %}
  <button class="sidebar-toggle" id="sidebar-toggle">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="66.137px" height="66.137px" viewBox="0 0 66.137 66.137" style="enable-background:new 0 0 66.137 66.137;" xml:space="preserve">
      <g>
        <path d="M33.068,66.136C14.834,66.136,0,51.302,0,33.069C0,14.835,14.834,0.001,33.068,0.001s33.069,14.834,33.069,33.068
          C66.137,51.302,51.302,66.136,33.068,66.136z M33.068,4.001C17.04,4.001,4,17.041,4,33.069s13.04,29.067,29.068,29.067
          s29.069-13.04,29.069-29.067S49.096,4.001,33.068,4.001z"/>
        <rect x="18.02" y="31.069" width="30.098" height="4"/>
        <rect x="18.02" y="20.428" width="30.098" height="4"/>
        <rect x="18.019" y="41.709" width="30.099" height="4"/>
      </g>
    </svg>
  </button>

  <aside class="sidebar" id="sidebar">
    <ul class="sidebar__list">
      {% for item in sidebar %}
        {# активному пункту ДОБАВЛЯЕТСЯ класс sidebar__list-item--active #}
        <li class="sidebar__list-item">
          <a class="sidebar__list-link" href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>

  <div class="page-bg-logo"></div>
  <div class="page-bg" id="page-bg" style="background-image: url(img/fon2.jpg)"></div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
