@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin list-reset() {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

@mixin placeholder($color: inherit, $font: inherit) {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $color;
    font-family: $font;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
    opacity: 1;
    font-family: $font;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $color;
    font-family: $font;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
    opacity: 1;
    font-family: $font;
  }
}

@mixin responsive-bg() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin input-number-arrow-reset() {
  -moz-appearance:textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@mixin prevent-selection() {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
