* {
  box-sizing: border-box;
  outline: none;
  word-break: break-word;
  word-wrap: break-word;
}

html {
  height: 100%;
  font-size: 16px;
  background-color: #1f1f1f;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: $base-font;
  color: #fff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

input,
textarea,
select {
  padding: 0;
  width: 100%;
  font-family: inherit;
  color: inherit;
}

select {
  font-family: inherit;
  cursor: pointer;
}

fieldset {
  margin:0;
  border:none;
} 

table {
  width: 100%;
}

button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

ul, ol {
  @include list-reset();
}
