.link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.text-center {
  text-align: center;
}

.mt-100 {
  margin-top: 100px;
}

.mb-50 {
  margin-bottom: 50px;
}

.hidden-accessible {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -100;
}

.pos-rel {
  position: relative;
}
