.footer {
  padding: 20px 0;
  flex: 0 0 auto;
  background-color: $c-dark-gray;
  line-height: 1.6;
  position: relative;
  z-index: 3;
}

.footer__inner {
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;

  @media (min-width: 768px) {
    display: flex;
    text-align: left;
  }
}

.footer__company {
  margin-bottom: 30px;
  padding: 0 15px;
  font-size: 14px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    width: 41.66666667%;
  }
}

.footer__company-logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  max-width: 60px;
  vertical-align: middle;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 0;
    display: inline-block;
  }
}

.footer__company-logo-img {
  padding-top: 113.4%;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (   -o-min-device-pixel-ratio: 2/1),
  only screen and (    min-device-pixel-ratio: 2),
  only screen and (        min-resolution: 192dpi),
  only screen and (        min-resolution: 2dppx) { 
    background-image: url(../img/logo@2.png);
  }
}

.footer__address {
  margin-bottom: 30px;
  padding: 0 15px;
  font-size: 12px;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
    width: 41.66666667%;
  }
}

.footer__credit {
  margin-left: auto;
  margin-right: auto;
  padding: 2px 15px 0 70px;
  width: 205px;
  font-size: 12px;
  text-align: left;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../img/arr-up.png);
    position: absolute;
    top: 0;
    left: 15px;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @media (min-width: 768px) {
    width: 16.66666667%;
  }
}
