<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
  <head>
    <title>{% block title %}{% endblock %} НТЦ-ЭКВИТ</title>
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#007fb5">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#007fb5">
    <meta name="msapplication-config" content="favicon/browserconfig.xml">
    <meta name="theme-color" content="#007fb5">

    <meta property="og:title" content="{% block og_title %}{% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ PAGE_URL }}" />
    <meta property="og:image" content="img/og-logo.jpg" />

    {% block head_scripts %}
    {% endblock %}

    {% block extra_styles %}
    {% endblock %}

    {% block common_styles %}
      {# <link rel="stylesheet" href="css/style.css"> #}
      <link rel="stylesheet" href="css/style.css">
      <!-- <link rel="stylesheet" href="css/style.min.css?v=18"> -->
    {% endblock %}
  </head>
  <body>
    {% include "../includes/header.html" %}

    <div class="page-wrap">
      {% block content %}
      {% endblock %}
    </div>

    {% block content_outer_bottom %}
    {% endblock %}

    {% include "../includes/callback-popup.html" %}

    {% include "../includes/footer.html" %}

    {% block common_scripts %}
      <script src="js/libs/jquery-3.2.1.min.js"></script>
      <script src="js/main.js?v=11"></script>
    {% endblock %}

    {% block extra_scripts %}
    {% endblock %}
  </body>
</html>
