<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__company">
        <a href="index.html">
          <div class="footer__company-logo">
            <div class="footer__company-logo-img"></div>
          </div>
        </a>
        <span>&copy; 2018 — Научно-технический центр «ЭКВИТ»</span>
      </div>

      <ul class="footer__address">
        <li>г. Москва, пос. Московский, 22-ой км. Киевского шоссе,<br> домовладение 4, стр. 2 Бизнес Парк «Румянцево»</li>
        <li><a href="mailto:info@ntc-ekvit.ru">info@ntc-ekvit.ru</a></li>
      </ul>

      <div class="footer__credit">
        Дизайн:<br><a target="_blank" href="http://randomaze.ru/">Васильев Николай</a>
      </div>
    </div>
  </div>
</footer>
