<header class="header header--before-dom-ready" id="header">
  <div class="header__inner" id="header-inner">
    <div class="header__logo">
      <a href="index.html">
        <div class="header__logo-img"></div>
      </a>
    </div>

    <nav class="header__menu">
      <ul class="menu" id="menu">
        {% for item in menu %}
          <li class="menu__item {% if item.page_name == PAGE_NAME %}menu__item--active{% endif %}">
            <a href="{{ item.url }}" class="menu__link">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <div class="header__call">
      <div class="header__call-phone">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="18px" height="24px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 0.2837 0.3756" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g>
            <path stroke-width="0.0315257" d="M0.206132 0.0159505c-0.0114558,-0.0004736 -0.0211824,-3.57434e-005 -0.029256,0.00121527 -0.00808247,0.00134038 -0.0142348,0.0034269 -0.0185553,0.00641594 -0.00527215,0.00341796 -0.0137433,0.0119338 -0.0255074,0.0257263 -0.011764,0.0136942 -0.0238944,0.0294213 -0.036284,0.0471053 -0.0226122,0.032379 -0.0415919,0.0671395 -0.0567426,0.10421 -0.0152535,0.0371552 -0.0232198,0.0650976 -0.0240017,0.0840014 -0.000156377,0.00373072 0.000522747,0.00758206 0.00193908,0.0117417 0.00449473,0.0124342 0.0173713,0.0312263 0.0289253,0.0382409 0.0117864,0.0073676 0.0284785,0.0150792 0.0413685,0.021455 0.00480302,0.00237693 0.00881968,0.00363689 0.0118757,0.00375752 0.0101511,0.000415517 0.021178,-0.00668401 0.033076,-0.0213075 0.0119874,-0.014619 0.0181219,-0.0275269 0.0185776,-0.0386073 0.000169781,-0.00417304 -0.00136272,-0.00827012 -0.00453494,-0.0123136 -0.00758653,-0.00966858 -0.0246093,-0.00974901 -0.0418466,-0.0322986 -0.00442771,-0.00569213 -0.00652317,-0.0112815 -0.00629083,-0.0169602 0.000303819,-0.00745249 0.00285947,-0.0172372 0.00764462,-0.0292604 0.00478961,-0.0121215 0.0115451,-0.0264903 0.0204452,-0.0431065 0.0102852,-0.0186983 0.0184838,-0.0317893 0.0247657,-0.0392775 0.0061836,-0.00748824 0.0124387,-0.0121751 0.0187697,-0.0140606 0.00142527,-0.000504875 0.00386029,-0.000862309 0.00713974,-0.00109911 0.0141723,-0.00090252 0.0312084,0.00719336 0.0442324,0.0111564 0.00477174,0.00145207 0.00858288,0.00221609 0.0114647,0.00233672 0.00745696,0.000312755 0.0149139,-0.00628637 0.0224737,-0.0198733 0.00746143,-0.0135021 0.0114915,-0.0274196 0.0120902,-0.0418644 0.000339562,-0.00828353 -0.00154143,-0.0149005 -0.00571447,-0.0197348 -0.0102449,-0.0118847 -0.0401041,-0.0269371 -0.0560546,-0.0275984z"/>
            <path stroke-width="0.0315257" d="M0.220313 0.0203603c0.00222949,0.00261373 0.00314095,0.007591 0.00283713,0.0148558 -0.000370838,0.00894478 -0.00268075,0.0197661 -0.00684039,0.0323746 -0.0041641,0.0127068 -0.00888223,0.0230545 -0.014065,0.0310476 -0.00303372,0.00424006 -0.0033286,0.0118266 -0.00783227,0.013998m-0.0827906 0.153562c-0.00010723,0.0026048 -0.00231438,0.00848458 -0.00660359,0.0176349 -0.00430261,0.0092486 -0.00930668,0.0174383 -0.015115,0.0246629 -0.00706379,0.00848012 -0.014065,0.0153697 -0.0210126,0.0207803 -0.00702357,0.00530342 -0.0120813,0.00789482 -0.0153428,0.00776078"/>
          </g>
        </svg>

        <a href="tel:88005558412">8 800 555-84-12</a>
      </div>
      <span class="header__call-popup-open" id="callback-popup-open">Заказать обратный звонок</span>
    </div>
  </div>

  <form class="header__search" action="" method="GET" id="search-form">
    <input type="text" name="search-query" placeholder="Искать на сайте...">
  </form>

  <button class="header__search-toggle" id="search-toggle">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="29px" height="29px" style="fill:none; stroke:#ffffff; shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 0.551849 0.551849" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g>
        <circle stroke-width="0.038449" cx="0.301942" cy="0.249908" r="0.230681"/>
        <path stroke-width="0.0192245" d="M0.138544 0.249908c0,-0.090243 0.0731545,-0.163398 0.163398,-0.163398"/>
        <line stroke-width="0.038449" x1="0.0135956" y1="0.538254" x2="0.138544" y2= "0.413305" />
      </g>
    </svg>
  </button>

  <button class="header__menu-toggle" id="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
